# Editor
.vscode/*
*~
\#*\#
c_cpp_properties.json

# Python cache
__pycache__/
*.pyc
*.pyo

# pip
pip-log.txt

# Virtual Environment
.venv/
venv/
env/
matrix_env/

#Other
.DS_STORE

# Personnal (for this project)
Python Module 00/main.py
advanced_data_helper.py
data_generator.py
exercise_0_help.py
exercise_1_helper.py
data-generator-tools/
Python Module 04/ex1/*.txt
Python Module 08/ex1/matrix_analysis.png
