# Editor
.vscode/*
*~
\#*\#
c_cpp_properties.json

# Tester
main.py
advanced_data_helper.py
data_generator.py
exercise_0_help.py
exercise_1_helper.py
data-generator-tools/
Python Module 04/ex1/*.txt

# Python objects
__pycache__

#Other
.DS_STORE
